services:
  postgres:
    image: postgres:13
    container_name: agenda-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-postgres}
      POSTGRES_DB: ${DB_NAME:-agenda}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
